*{margin: 0;padding: 0;list-style: none;box-sizing: border-box;}
.list{
    width: 1000px;
    margin: 300px auto 0 auto;
    overflow: hidden;
}
.list li{
    width: 300px;
    float: left;
    padding: 20px;
    background-color: pink;
    margin-right: 20px;
}